{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid light-grey d-flex justify-content-center align-items-center">
    <!-- Brand Name and Buttons Section -->
    <div class="text-center">
        <h1>Welcome to Deaf Design</h1>
        <h5>
        Whether you’re a startup, small business, or an established brand, we craft responsive, <br>
        user-friendly websites that help you connect with your audience and achieve your goals. 
        </h5>
        <div class="buttons">
            <a href="{% url 'collaborate' %}" class="btn btn-custom" role="button">Collaborate</a>
            <a href="{% url 'about' %}" class="btn btn-custom" role="button">Learn More</a>
        </div>
    </div>
</div>

<div class="container-fluid grey d-flex justify-content-center align-items-center">
    <!-- Why Choose Us Section -->
    <div class="text-center">
        <h2>Why Choose Us</h2>
        <div class="buttons">
            <div class="btn btn-wide">
                <h5>Expertise in Accessibility</h5>
                <p>We specialize in creating accessible designs that ensure everyone can engage with your brand.</p>
            </div>
            <div class="btn btn-wide">
                <h5>Innovative Design</h5>
                <p>Our team crafts innovative, user-friendly designs that capture your brand's unique spirit and vision.</p>
            </div>
            <div class="btn btn-wide">
                <h5>Client-Focused Approach</h5>
                <p>We prioritize your needs, delivering personalized solutions that meet your goals and exceed your expectations.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid light-grey d-flex justify-content-center align-items-center">
    <!-- Our Work Section -->
    <div class="text-center">
        <h2>Our Work</h2>
        <h4>Take a look at some of our amazing projects:</h4>
        <div>
            <a href="{% url 'work' %}" class="btn btn-custom" role="button">Projects</a>
        </div>
    </div>
</div>

<div class="container-fluid grey d-flex justify-content-center align-items-center">
    <!-- Contact Us Section -->
    <div class="text-center">
        <h2>Contact Us</h2>
        <h4>Feel free to reach out to us at</h4>
        <div class="btn btn-wide">
            <p><strong>Email:</strong> info@deafdesign.com</p>
            <p><strong>Phone:</strong> +35301820951</p>
            <p><strong>Skype:</strong> design@skype</p>
        </div>
    </div>
</div>
{% endblock %}
