{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container-fluid light-grey">
    <!-- first-section -->
    <section id="payment" class="mb-5">
        <div class="text-center">
            <h2>Collaboration</h2>
            <h5>We've designed our collaboration process to be smooth and efficient.</h5>
            <h5>Read Below on how we work.</h5>
            <div id="checkout-button-container">
                <a href="{% url 'checkout' %}" id="checkout-button" class="btn btn-custom">Payment Form</a>
            </div>
        </div>
    </section>
</div>

<div class="container-fluid grey">
    <!-- Collaboration Process Section -->
    <div class="text-center">
        <h2>Collaboration Process</h2>
        <div class="buttons">
            <div class="btn btn-wide">
                <h5>Initial Consultation</h5>
                <p>Submit a €50 consultation fee for a three-hour session. This fee is fully refundable if you choose not to proceed after the consultation.</p>
            </div>
            <div class="btn btn-wide">
                <h5>Project Review</h5>
                <p>We will review your requirements, discuss your vision, and provide a clear quote during our scheduled consultation.</p>
            </div>
            <div class="btn btn-wide">
                <h5>Project Planning</h5>
                <p>We'll outline the project timeline, payment process, and our system for regular updates and feedback.</p>
            </div>
            <div class="btn btn-wide">
                <h5>Moving Forward</h5>
                <p>If you decide to proceed after the consultation, we will securely process the payment and begin work on your project.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid light-grey"> 
    <!-- Why We Charge a Consultation Fee Section --> 
    <div class="text-center"> 
        <h2>Why We Charge a Consultation Fee</h2> 
        <div class="buttons"> 
            <div class="btn btn-wide"> 
                <h5>Serious Enquiries</h5> 
                <p>Our consultation fee helps us focus on clients who are committed to their projects.</p> 
            </div> 
            <div class="btn btn-wide"> 
                <h5>Prevent Wasted Time</h5> 
                <p>This approach ensures efficient use of time for both our team and potential clients.</p> 
            </div> 
            <div class="btn btn-wide"> 
                <h5>Stage for Success</h5> 
                <p>By starting with a structured consultation, we lay the groundwork for a successful collaboration.</p> 
            </div>
            <div class="btn btn-wide"> 
                <h5>Our Approachs</h5> 
                <p>Our approach ensures we're aligned from the very beginning, helping to bring your vision to life.</p> 
            </div>  
        </div> 
    </div>
</div>

<div class="container-fluid second-section text-center grey">
    <!-- Payment Button and Checkout -->
    <section id="payment" class="mb-5">
        <h2>Ready to Start Consultation?</h2>
        <div id="checkout-button-container">
            <a href="{% url 'checkout' %}" id="checkout-button" class="btn btn-custom">Payment Form</a>
        </div>
    </section>
</div>
{% endblock %}
