{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- collaborate CSS style-->
<link rel="stylesheet" href="{% static 'css/collaborate.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Collaborate with Us</h1>

    <!-- How Collaboration Works -->
    <section id="how-it-works" class="mb-5">
        <div class="container-fluid collaboration-process">
            <!-- Collaboration Process Section -->
            <div class="text-center">
                <h2>Our Collaboration Process</h2>
                <p>We've designed our collaboration process to be smooth and efficient. Here's how to get started:</p>
                <div class="buttons">
                    <div class="btn btn-wide">
                        <h5>Initial Consultation</h5>
                        <p>Submit a €50 consultation fee for a three-hour session. This fee is fully refundable if you choose not to proceed after the consultation.</p>
                    </div>
                    <div class="btn btn-wide">
                        <h5>Project Review</h5>
                        <p>We'll review your requirements, discuss your vision, and provide a clear quote during our scheduled consultation.</p>
                    </div>
                    <div class="btn btn-wide">
                        <h5>Project Planning</h5>
                        <p>We'll outline the project timeline, payment process, and our system for regular updates and feedback.</p>
                    </div>
                    <div class="btn btn-wide">
                        <h5>Moving Forward</h5>
                        <p>If you decide to proceed after the consultation, we'll securely process the payment and begin work on your project.</p>
                    </div>
                    <h3>Why We Charge a Consultation Fee</h3>
                        <ul class="ul-fee">
                            <li>Helps us prioritize serious inquiries</li>
                            <li>Prevents wasted time for both parties</li>
                            <li>Sets the stage for a successful collaboration</li>
                        </ul>
                    <p class="text-center">Our approach ensures we're aligned from the very beginning, helping to bring your vision to life. We look forward to connecting with you!</p>
                </div>
            </div>
        </div>        
    </section>

    <!-- Payment Button and Checkout -->
    <section id="payment" class="mb-5">
        <h2>Ready to Start?</h2>
        <p>Click the button below to proceed with your payment and start collaborating:</p>
        <div id="checkout-button-container">
            <button id="checkout-button" class="btn btn-primary">Pay Now</button>
        </div>
        <div id="checkout-container" style="display: none;"></div>
    </section>
</div>
{% endblock %}
