{% load static %}

<!doctype html>
<html lang="en">
<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Deaf Design crafts responsive, user-friendly websites for startups, small businesses, and established brands. Connect with your audience and achieve your goals with our expertise in accessibility, innovative design, and client-focused approach.">
    {% endblock %}

    {% block extra_meta%}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!--jQuery and Bootstrap Bundle  -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% endblock %}
 
    {% block extra_js %}
    {% endblock %}

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>DeafDesign {% block extra_title %}{% endblock %}</title>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg justify-content-center">
      <div class="nav-container">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                <span></span> <!-- Bottom line -->
              </span>
          </button>        
          <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a href="{% url 'collaborate' %}"  class=" text-white" aria-current="page">Collaborate </a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'about' %}" class="text-white" aria-current="page">About Us </a>
                  </li>
                  <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/images/brandlogo.webp"  alt="logo"></a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'work' %}"  class="text-white" aria-current="page">Our Work </a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'contact' %}" class="text-white" aria-current="page">Contact </a>
                  </li>
              </ul>
          </div>
        </div>
    </nav>
    <!--Body -->
    {% if message %}
    <div class="message-container"></div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer mt-auto py-3 light-grey">
      <div class="container">
        <div class="row g-sm-4 mb-4">
          
          <!-- Newsletter Subscription -->
          <div class="col-md-3 mb-md-0 mb-3 mt-3">
            <form action="https://codeinstitute.us11.list-manage.com/subscribe/post?u=65ac3b176479d3af85ae56b91&id=8875414d88&f_id=009e89e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div id="mc_embed_signup_scroll">
                    <h5>Subscribe to our Monthly newsletter</h5>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address:*</label>
                        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required>
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <input type="text" name="b_65ac3b176479d3af85ae56b91_8875414d88" tabindex="-1" value="">
                    </div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" name="subscribe" class="btn btn-custom" value="Subscribe">
                            <p style="margin: 0px auto;">
                            </p>
                        </div>
                    </div>
                </div>
            </form>
          </div>
                   
          <!-- Information -->
          <div class="col-md-3 mb-md-0 mb-3 mt-3">
            <h5>Information</h5>
            <ul class="list-unstyled">
              <li><a href="{% url 'about' %}" class="text-dark">About Us</a></li>
              <li><a href="{% url 'contact' %}" class="text-dark">Contact</a></li>
              <li><a href="https://www.termsfeed.com/live/9ba7a06c-b022-4ff7-9009-caec30fcb5f1" target="_blank" class="text-dark" aria-label="Our Privacy Policy">Privacy Policy</a></li>
              <li><a href="{% url 'about' %}#faq" class="text-dark">FAQ</a></li>
            </ul>
          </div>
          
          <!-- Authentication (Register, Login, Logout) -->
          <div class="col-md-3 mb-md-0 mb-3 mt-3">
            <h5>Management</h5>
            <ul class="list-unstyled">  
              
              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                  <li><a href="" class="text-dark">Management</a></li>
                {% endif %}
                <li><a href="{% url 'account_logout' %}" class="text-dark">Logout</a></li>
              {% else %}
                <li><a href="/accounts/signup/" class="text-dark">Register</a></li>
                <li><a href="{% url 'account_login' %}" class="text-dark">Login</a></li>
              {% endif %}
            </ul>
          </div>

          <!-- Social Media -->
          <div class="col-md-3 mb-md-0 mb-3 mt-3">
            <h5>Follow Us</h5>
            <div class="social-icons">
              <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.facebook.com/" class="text-dark me-2" aria-label="Follow us on Facebook"><i class="fab fa-facebook fa-2x"></i></a>
              <a target="_blank" rel="noopener noreferrer nofollow" href="https://x.com/home?lang=en" class="text-dark me-2" aria-label="Follow us on Twitter"><i class="fab fa-twitter fa-2x"></i></a>
              <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.instagram.com/" class="text-dark me-2" aria-label="Follow us on Instagram"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
          </div>

        </div>
        
        <hr>
        
        <div class="row">
          <div class="col-12">
            <p class="text-center text-dark mb-0">Made by <strong><i>Alan Smyth</i></strong></p>
          </div>
        </div>
      </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}

    <!-- MailChimp-->
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
      (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0]='EMAIL';
        ftypes[0]='email';
        fnames[1]='FNAME';
        ftypes[1]='text';
        fnames[2]='LNAME';
        ftypes[2]='text';
        fnames[3]='ADDRESS';
        ftypes[3]='address';
        fnames[4]='PHONE';
        ftypes[4]='phone';
        fnames[5]='BIRTHDAY';
        ftypes[5]='birthday';
        fnames[6]='COMPANY';
        ftypes[6]='text';
      }(jQuery));
      var $mcj = jQuery.noConflict(true);
    </script>
  </body>
</html>

