{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container first-section">
    <!-- first-section -->
    <div class="text-center p">
        <h1>Deaf Design</h1>
        <p>Deaf Design is a pioneering web design company founded and operated by Deaf professionals, 
        dedicated to creating visually stunning and accessible websites that bridge the gap between the 
        Deaf and hearing communities. Our team of talented Deaf designers brings a unique perspective to 
        the digital landscape, leveraging their heightened visual acuity and innate understanding of 
        visual communication to craft websites that are not only aesthetically pleasing but also 
        intuitively navigable. 
        </p>
    </div>
</div>

<div class="container-fluid why-choose-us">
    <!-- second-section -->
    <div class="text-center p">
        <h2>Our History and Mission</h2>
        <p>
            Established in 2020, Deaf Design was born out of a vision to empower Deaf individuals 
            in the tech industry while simultaneously addressing the need for more inclusive 
            digital spaces. Our founders, all graduates of Gallaudet University, were inspired by 
            the success of Deaf entrepreneurs in various fields and saw an opportunity to make a 
            significant impact in the web design sector. Our mission is twofold: to create exceptional,
            user-centric websites that cater to both Deaf and hearing users, and to advocate for 
            greater representation and opportunities for Deaf professionals in the tech industry. 
            We believe that Deafness should not limit opportunity, and we strive to challenge society's 
            perceptions by showcasing the unique talents and perspectives that Deaf individuals bring 
            to web design. At Deaf Design, we are committed to:  
        </p>
        <br>
        <div class="buttons">
            <div class="btn btn-wide">
                <h5>Empowering</h5>
                <p><strong>Empowering</strong> Deaf designers and developers to excel in their careers.</p>
            </div>
            <div class="btn btn-wide">
                <h5>Innovative</h5>
                <p>Our team crafts <strong>innovative</strong>, user-friendly designs that capture your brand's unique spirit and vision.</p>
            </div>
            <div class="btn btn-wide">
                <h5>Educating</h5>
                <p><strong>Educating</strong> clients and the broader community about Deaf culture and communication.</p>
            </div>
            <div class="btn btn-wide">
                <h5>Visual</h5>
                <p>Fostering innovation through our unique <strong>visual-centric</strong> approach to web design</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid third-section">
    <!-- third-section -->
    <div class="text-center p">
        <p>
            We take pride in our ability to create websites that not only meet but exceed our clients' 
            expectations, proving that Deafness is not a barrier to success in the digital world. Our 
            team's exceptional visual communication skills, combined with our deep understanding of user 
            experience, result in websites that are both beautiful and functional.
        </p>
        <br>
        <p>
            As we continue to grow, Deaf Design remains dedicated to our core values of inclusivity, 
            innovation, and excellence. We envision a future where Deaf professionals are recognized 
            and valued for their unique contributions to the tech industry, and where digital spaces 
            are truly accessible to all.
        </p>
    </div>
</div>

<div class="container-fluid fourth-section">
    <!-- fourth-section FAQ-->
    <section id="faq" class="text-center">
        <h2>Frequently Asked Questions</h2>
        <div class="accordion w-75 mx-auto" id="faqAccordion">
            <!-- 1st FAQ Item-->
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Why do you have the payment fee for consultation?
                    </button>
                </h3>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        We charge a €50 consultation fee for a three-hour session to ensure that both parties are committed to making the most of the time spent together. If you decide not to proceed with our services after the consultation, we will fully refund the fee.
                        This approach helps us prioritize serious inquiries and prevents time from being wasted. If you're considering working with us, this initial step ensures a productive and focused discussion.
                        We look forward to connecting with you!                           
                    </div>
                </div>
            </div>
            <!-- 2nd FAQ Item-->
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What types of projects do you work on?
                    </button>
                </h3>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        We specialize in a wide range of design projects, including web design, graphic design.
                    </div>
                </div>
            </div>
            <!-- 3rd FAQ Item-->
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        How long does a typical project take?
                    </button>
                </h3>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Project timelines vary depending on complexity. We provide estimated completion times after reviewing your project details.
                    </div>
                </div>
            </div>
            <!-- 4th FAQ Item-->
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        How much does a new website cost?
                    </button>
                </h3>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Project timelines vary depending on complexity. We provide estimated completion times after reviewing your project details.
                    </div>
                </div>
            </div>
            <!-- 5th FAQ Item-->
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Will my website be mobile friendly?
                    </button>
                </h3>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Yes, we ensure to develop a responsive website that would make your visitor's experience appealing and deliver easy browsing experience
                    </div>
                </div>
            </div>
            <!-- 6th FAQ Item-->
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Can I update the website myself once it's built?
                    </button>
                </h3>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Yes, you can keep updating your website once it's built, which we do recommend.
                    </div>
                </div>
            </div>          
            <!-- Add more FAQ items as needed -->
        </div>
    </section>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
  $(document).ready(function() {
    if(window.location.hash === '#faq') {
      $('html, body').animate({
        scrollTop: $('#faq').offset().top
      }, 1000);
    }
  });
</script>
{% endblock %}