{% extends 'base.html' %} 
{% load static %}

{% load crispy_forms_tags %}
<!--- Contact form page --->

{% block content %}
<div class="container mt-5">
    <div class="row">       
        <!-- Information Column -->
        <div class="col-md-4">
            <div class="info-box">
                <h1>Let's connect</h1>
                <p>This form allows you to contact us directly. Please fill out all required fields and submit your query.</p>
                <ul>
                    <li>Ensure your email is valid.</li>
                    <li>Provide detailed information in the message field.</li>
                    <li>We will respond within 2 working business days.</li>
                </ul>
                <p>We’re also on a few social networks, so check us out</p>
                <div class="social-icons">
                    <a target="_blank" href="https://www.facebook.com/" class="text-dark me-2"><i class="fab fa-facebook-f fa-3x"></i></a>
                    <a target="_blank" href="https://x.com/home?lang=en" class="text-dark me-2"><i class="fab fa-twitter fa-3x"></i></a>
                    <a target="_blank" href="https://www.instagram.com/" class="text-dark me-2"><i class="fab fa-instagram fa-3x"></i></a>
                </div>
            </div>
        </div>
        <!-- Form Column -->
        <div class="col-md-8">
            <form method="POST" action="{% url 'contact' %}" class="container">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
